body{
    background-color: rgb(61, 160, 160);
}
#ftr1{
    background-color: rgb(38, 36, 36);
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* float: bottom; */
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 10%;
}
#footerdiv{
    background-color: rgb(26, 21, 29);
}
#divv{
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid darkblue;
    border-radius: 10%;
}
#dv1{
    border: 3px solid black;
}
a{
    border: 3px solid black;
}
img{
    border: 3px solid black;
}