#logo-and-explore{
    display: inline;
}
.explore{
    display: inline;
    /* float: inline-start; */
}
#logo{
    display: inline;
    float: left;
}
#logo-png{
    height: 50px;
    width: 50px;
}
#nav-bar-options{
    border: 5px solid black;
    display: inline-flex;
    justify-content: space-around;
    width: 60%;
}
.nav-bar-class{
    font-size: x-large;
    /* display: inline; */
}
.log-and-sign{
    display: inline-flex;
    float: right;
    justify-content:space-around;
    width: 200px;
}
#sliding-pix{
    border: 5px solid black;
    height: 400px;
    border-radius: 20px;
}
#content{
    border: 5px solid blue;
    display: inline-flex;
    width: 100%;
}
#option-bar{
    /* display: inline-flex; */
    border: 5px solid green;
    width: 25%;
}
#all-services{
    /* display: inline-flex; */
    border: 5px solid red;
    width: 75%;
}
#first-row{
    display: inline-flex;
    justify-content: space-evenly;
}
#second-row{
    display: inline-flex;
    justify-content: space-evenly;
}
.services{
    border: 5px solid black;
    width: 25%;
}
img{
    height: 250px;
    width: 300px;
}