#submit1{
    border-color: black ;
    border-width: 2px;
}
#reset1{
    border-color: black ;
    border-width: 3px;
}
#l1{
    font-size: 30px;
    font: bolder;
    margin-left: 550px;
}
#f1{
    margin-left: 100px;
    margin-right: 100px;
}
*{
    background-color: azure;
}
#submit2{
    font-size: x-large;
}