body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 670vh;
}
.navbar {
  display: flex;
  margin-top: 10px;
  margin-left: 20px;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  position:sticky;
}
.nav-1 {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 800;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-headings {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  align-items: center;
}
.nav-2 {
  display: flex;
  align-items: center;
}
.nav-business {
  display: flex;
  gap: 20px;
  align-items: center;
}
.signup {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 20px;
  margin-right: 25px;
  cursor: pointer;
}
.signup > div > img {
  width: 25px;
  height: 25px;
}
.signup > div img {
  width: 25px;
  height: 25px;
  text-decoration: none;
}
#nav-logo {
  height: 40px;
  width: 40px;
}
.nav-item {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.nav-item:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-top {
  color: white;
  height: 80vh;
  width: 100%;
  display: flex;
  background-image: url("./images/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner.jpg");
}
.left {
  width: 35vw;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding-left: 10vw;
  padding-top: 5vh;
  padding-bottom: 10vh;
  padding-right: 5vw;
}
#left-div-1 {
  font-size: 35pt;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
#left-div-2 {
  font-size: 14pt;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 30px;
  width: 30vw;
}
.left-sign-up {
  display: flex;
  gap: 30px;
  align-items: center;
}
.left-email {
  border-radius: 25px;
  height: 40px;
  width: 320px;
}
.right-arrow {
  height: 20px;
  width: 20px;
}
.left-sign-up button {
  width: 180px;
  border-radius: 18px;
  height: 45px;
  background-color: yellow;
}
.left-sign-up > div > button > a > span {
  position: relative;
  bottom: 3px;
  left: 8px;
}
.left-sign-up > div > button > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.tagline {
  position: relative;
  bottom: 20px;
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ratings {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  position: relative;
  bottom: 10vh;
  color: aquamarine;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.ratings span {
  font-style: italic;
  font-size: 30px;
}
.ratings img {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
.right {
  width: 50vw;
}
#right-img {
  height: 70vh;
  width: 30vw;
  margin-top: 5.5vh;
  margin-left: 10vw;
}
.main {
  height: 510vh;
  width: 100%;
}
.main-tagline{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30vh;
}
.main-tagline #p1{
  font-size: 40px;
  font-family: lotagrotesque-regular, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
  font-weight: 800;
  padding-top: 30px;
  color: rgb(33, 32, 32);
}
.main-tagline #p2{
  font-size: 45px;
  position: relative;
  bottom: 70px;
  color: rgb(16, 182, 176);
  font-style: italic;
  font-weight: 700;
}
.features-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80vw;
  margin-left: 15vw;
  height: 60vh;
}
.features-container h3{
  font-size: 25px;
  width: 15vw;
  font-family: sans-serif;
  font-weight: 700;
}
.features-container ul{
  color: rgb(33, 32, 32);
  width: 15vw;
  font-size: 18px;
  position: relative;
  right: 2.5vw;
  font-family: lotagrotesque-regular, Arial, Helvetica, sans-serif, Arial, Helvetica, sans-serif;
}
.login-again{
  height: 60vh;
  background-color: #092224;
  border-radius: 50px;
  margin-right: 1.2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}
.login-again h1{
  font-size: 60px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.login-again p{
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
  width: 70vw;
  text-align: center;
  position: relative;
  bottom: 40px;
}
#tagline2{
  color: white;
  margin-top: 25px;
}
.facts{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80vw;
  height: 30vh;
  margin-left: 15vw;
  margin-top: 10vh;
}
.facts div{
  display: flex;
  gap: 10px;
}
.facts img{
  width: 45px;
  height: 45px;
  fill: rgb(16, 182, 176);
}
.facts p{
  display: inline;
  font-size: 20px;
  width: 100px;
  position: relative;
  bottom: 2.5vh;
}
.facts span{
  font-weight: 900;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.review{
  width: 80vw;
  margin-left: 10vw;
  border-radius: 20px;
  height: 50vh;
  background-color: rgb(244, 246, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review h2{
  font-size: 40px;
  color: #0d464a;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.review p{
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 30px;
}
.review #div3{
  display: flex;
  gap: 40px;
}
.review img{
  height: 120px;
  box-shadow: 10px 10px 5px black;
}
.review #elon{
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-top: 50px;
}
.review #tesla{
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: 40px;
  color: rgb(16, 16, 16);
}
.recommendation{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recommendation h1{
  font-size: 60px;
  color: #0d464a;
}
.recommendation-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 80vw;
  margin-left: 7.5vw;
  margin-bottom: 20vh;
}
.recommendation-grid h2{
  color: rgb(55, 55, 55);
}
.recommendation-grid img{
  height: 45px;
  width: 45px;
}
.recommendation-grid > div{
  width: 30vw;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(90, 90, 90);
}
.recommendation-grid > div >div{
  display: flex;
  align-items: center;
  gap: 20px;
}
.review #div3-2{
  display: flex;
  gap: 40px;
}

.review #sundar-pichai{
  font-size: 30px;
  font-weight: 700;
  color: black;
  margin-top: 50px;
}
.review #alphabet{
  font-size: 20px;
  font-weight: 500;
  position: relative;
  bottom: 40px;
  color: rgb(16, 16, 16);
}
.brands{
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
.brands h1{
  font-size: 60px;
  text-align: center;
  color: #092224;
}
.footer {
  height: 60vh;
  display: flex;
}
.footer-right img{
  height: 30px;
  width: 30px;
}
.footer-left {
  width: 30vw;
  background-color: #092224;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-left h3{
  margin-left: 5vw;
  margin-top: 10vh;
  font-size: 25px;
  color: white;
}
.footer-left div{
  margin-left: 5vw;
}
.footer-left a{
  text-decoration: none;
  color: white;
}
.footer-right {
  width: 70vw;
  background-color: #348e95;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
}
.footer-right >  div{
  margin-top: 7vh;
}
.footer-right h3{
  font-size: 25px;
  text-decoration: underline;
  font-weight: 800;
}
.footer-right a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.footer-right li{
  list-style-type: none;
  position: relative;
  right: 2.5vw;
  margin-bottom: 15px;
  font-size: 18px;
}
.company{
  margin-left: 10vw;
}
.contact{
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  right: 7.5vw;
}
.contact-info{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width:  20vw;
  position: relative;
  bottom: 30px;
  font-size: 18px;
}
.contact-info #phone{
  position: relative;
  bottom: 20px;
}
.contact-info #message{
  position: relative;
  bottom: 20px;
}
.contact-info > div{
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-logos{
  display: flex;
  gap: 20px;
  position: relative;
  bottom: 20px;
}
.footer-last{
  display: flex;
  align-items: flex-start;
}
.footer-last div{
  height: 10vh;
}
.footer-last p{
  margin-left: 5vw;
}
#footer-1{
  background-color: #092224;
  color: white;
  width: 30vw;
}
#footer-2{
  background-color: #348e95;
  color: black;
  width: 70vw;
  cursor: pointer;
}
#footer-2 p{
  margin-left: 10vw;
}
